<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nealgosalia.market">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBb_OLkNBSzX1ymMFuRG-PTo5W7H2pKrBM"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QRScannerActivity"/>
        <activity android:name=".HomeActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".BuyActivity"/>
        <activity android:name=".BuySellActivity"/>
        <activity android:name=".WeatherActivity"/>
        <activity android:name=".NewsActivity"/>
        <activity android:name=".SellActivity"/>
        <activity android:name=".MapSearchActivity"/>
    </application>

</manifest>